%test-collection-of-properties {
    display: block;
    position: absolute;
    width: 25%;
    height: 25%;
    left: 25%;
    scale: (0.95);
    overflow: hidden;
    border-radius: 15px;
    text-align: center;
    font-size: 6vh;
}

.mainZoneClass {
    @extend %test-collection-of-properties;
    box-shadow: 12px 12px 16px 0 #f6f6f6,
    -8px -8px 12px 0 #cecece;
    background: linear-gradient(315deg, #f6f6f6, #cecece);
}

.mainZoneClassPictures {
    @extend %test-collection-of-properties;
    scale: (0.98);
}

.cardsNumber {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #008080;

    &:active {
        background: linear-gradient(135deg, #f6f6f6, #cecece);
    }
}