@import 'reset.scss';

.mainBox {
  display: block;
  position: relative;
  width: 60vh;
  height: 60vh;
  border: 5px solid #000;
  border-radius: 15px;
  //background-image: url("./zones/images/12345.jpg")
}



