@import 'reset.scss';

.mainBox {
  display: block;
  position: relative;
  width: 60vh;
  height: 60vh;
  margin: 2% 0;
  border-radius: 15px;
  //box-shadow:-10px -10px 15px 0px #f6f6f6, 10px 10px 15px 0px #cecece;
}



